<div class="row">
  <div class="col-lg-4">
    <div class="input-group">
      <span class="input-group-addon">
        <%= f.label  "Insira suas fotos aqui" %>
      </span>
      <%= f.file_field :arquivo, multiple: true, name: "fotos[arquivo][]", class: 'form-control' %>
    </div>
  </div>
</div>


