<p class="bg-success"> Capa defininida com sucesso</p>
<h4> Imagem escolhida</h4>
<div class="img-rounded"> <%= image_tag(@foto.arquivo_url) %> </div>
<p></p>
<%= link_to "Voltar", albuns_path, class: "btn btn-default" %>
