<p>Racuperação de senha:<%= @resource.email %>!</p>

<p>Foi requerida uma alteração de senha para esse usuário. para alterar sua senha clique no link abaixo.</p>

<a href="http://watson.icb.usp.br/agendamicro/usuarios/password/edit?reset_password_token=<%= @resource.reset_password_token%>">Mudar senha</a>

<p>Se você não solicitou uma mudança de senha por favor ignore esse e-mail.</p>

<p>Sua senha não sera trocada enquanto você não acessar o link e muda-la.</p>
