<script type="text/JavaScript">
  alert("O evento não pode ser criado.")
</script>
<h1>Erro na criação do evento.</h1>

<p>O evento não pode ser criado pois a sala escolhida estará sendo usada nesse momento.<br/>
Por favor escolha outro dia ou horário.</p>

<br/>
<%= link_to 'ver calendario', calendar_index_path %>
<br/>
<%= link_to 'Novo Evento', new_event_path %>
