<h1>Novo  Agendamento</h1>

<div id="instrucoes">
  <h2> Instruções </h2>

  <p> Caso seja necessário marcar um intervalo com mais de um dia, marque os dias de semana que você precisa utilizar.<br>
    Mesmo que o intervalo seja de apenas um dia (hoje e amanhã, por exemplo), marque os dois dias correspondentes. <br>
    Se o evento for no mesmo dia, não é necessário marcar os dias de semana.</p>
</div>

<%= form_tag(new_event_path, method: "get")  do  %>
    <% @u = current_usuario %>

    <div class="field">
      <%= label_tag :tipo_id ,"Escolha um equipamento" %>   <br>
      <%= select_tag :tipo_id, options_for_select(TipoUsuario.where("usuario_id  = ? ", @u.id).map{|tu| [tu.tipo.nome,tu.tipo.id]}), include_blank: true,  data: { remote: true } %> <!-- cria o combobox com os valores do array -->
      <%= submit_tag("Enviar") %>
    </div>
<% end %>
